@model dynamic
@{
    ViewData["Title"] = "Football Statistics";
}

<h2>Championship statistics</h2>

<button onclick="location.href='@Url.Action("TeamStandings", "Statistic")'" class="btn btn-primary">
    See General Classification
</button>

<canvas id="myChart" width="400" height="200"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Games Played', 'Championship Goals', 'Home Wins', 'Yellow Cards', 'Red Cards'],
            datasets: [{
                label: 'Championship statistics',
                data: [
    @Model.TotalGames,
    @Model.TotalGoals,
    @Model.HomeWins,
    @Model.TotalYellowCards,
    @Model.TotalRedCards
                    ],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 206, 86, 0.2)', // Cartões amarelos
                    'rgba(255, 99, 132, 0.2)'  // Cartões vermelhos
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 206, 86, 1)', // Cartões amarelos
                    'rgba(255, 99, 132, 1)'  // Cartões vermelhos
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

