@model IEnumerable<LigaIsadoraSilva.Data.Entities.Staff>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-color: black;
        color: white;
    }

    .table {
        background-color: white;
        color: black;
    }

        .table th, .table td {
            color: black;
        }

    h1 {
        color: white;
    }

    .btn-primary {
        background-color: #66ff66;
        border-color: #66ff66;
        color: black;
        font-weight: bold;
    }

    .action-buttons {
        white-space: nowrap;
    }

        .action-buttons a {
            margin-right: 5px;
        }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Duty
            </th>
            <th>
                Photo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Club.Coach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffDuty.Name)
                <td>
                    <img src="@item.ImageFullPath" alt="Image" style="max-width:100px; max-height:100px;" />
                </td>
                </td>
                <td>
                    <div class="action-buttons">
                        <a class="btn btn-sm" style="background-color: #00cccc; color: white;" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm" style="background-color: #99cc33; color: white;" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-sm" style="background-color: #ff6666; color: white;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
