@model IEnumerable<LigaIsadoraSilva.Data.Entities.StaffDuty>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-color: black;
        color: white;
    }

    h1, h4 {
        color: white;
    }

    .form-control {
        background-color: white;
        color: black;
    }

    .btn-primary {
        background-color: #66ff66;
        border-color: #66ff66;
        color: white;
        font-weight: bold;
    }

    .text-danger {
        color: #ff6666;
    }

    a.btn-back {
        background-color: #00cccc;
        color: white;
        font-weight: bold;
        padding: 10px 20px;
        margin-left: 10px;
        text-decoration: none;
        display: inline-block;
    }

        a.btn-back:hover {
            background-color: #00b3b3;
            color: white;
        }

    .form-group-inline {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

        .form-group-inline input[type="submit"],
        .form-group-inline a.btn-back {
            margin-right: 10px;
        }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
